name: React CRA
on: pull_request
jobs:
  linter:
    name: Menjalankan Linter di React CRA
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: stefanoeb/eslint-action@1.0.2
      with:
        files: src/